/* Buttons */

.button
  background:       -webkit-gradient( linear, left top, left bottom, color-stop(0.05, hsl(190, 0%, 100%)), color-stop(1, hsl(190, 0%, 90%)) )
  background:       -moz-linear-gradient( center top, hsl(190, 0%, 100%) 5%, hsl(190, 0%, 90%) 100% )
  background-color: hsl(190, 0%, 40%)
  border:           1px solid #ccc
  +border-radius    (3px)
  +box-shadow       (inset 0px 0px 1px 1px hsl(190, 60%, 100%))
  color:            #333
  cursor:           pointer
  display:          inline-block
  font-family:      "Open Sans", sans-serif
  font-size:        12px
  font-weight:      200
  padding:          3px 4px
  text-align:       center
  text-decoration:  none
.button.square
  +border-radius(0px)
  border-right:  none
=make_button_color($color)
  background:       -webkit-gradient( linear, left top, left bottom, color-stop(0.05, hsl($color, 60%, 70%)), color-stop(1, hsl($color, 60%, 60%)) )
  background:       -moz-linear-gradient( center top, hsl($color, 60%, 70%) 5%, hsl($color, 60%, 60%) 100% )
  border:           1px solid hsl($color, 90%, 15%)
  background-color: hsl($color, 60%, 70%)
  +box-shadow       (inset 0px 0px 1px 1px hsl($color, 80%, 80%))
  color:            #fff
=make_button_hover_color($color)
  +box-shadow(inset 0px 0px 1px 1px hsl($color, 100%, 96%))
.button.green
  +make_button_color(140)
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, hsl(140, 60%, 55%)), color-stop(1, hsl(140, 60%, 45%)) )
  background: -moz-linear-gradient( center top, hsl(140, 60%, 55%) 5%, hsl(140, 60%, 45%) 100% )
.button.green:hover
  +box-shadow(inset 0px 0px 1px 1px hsl(140, 100%, 100%))
.button.red
  +make_button_color(0)
.button.red:hover
  +make_button_hover_color(0)
.button.lavender
  +make_button_color(220)
.button.lavender:hover
  +make_button_hover_color(220)
.button.magenta
  +make_button_color(260)
.button.magenta:hover
  +make_button_hover_color(260)
.button.blue
  +make_button_color(205)
.button.blue:hover
  +make_button_hover_color(205)
.button.orange
  +make_button_color(40)
.button.orange:hover
  +make_button_hover_color(40)
.button:hover
  +box-shadow(inset 0px 0px 1px 1px hsl(190, 60%, 50%))
.button:active
  background:       -webkit-gradient( linear, left top, left bottom, color-stop(0.05, hsl(190, 0%, 95%)), color-stop(1, hsl(190, 0%, 90%)) )
  background:       -moz-linear-gradient( center top, hsl(190, 0%, 95%) 5%, hsl(190, 0%, 90%) 100% )
  background-color: hsl(190, 0%, 40%)
  position:         relative
  top:              1px
.button.disabled ,
.button:disabled
  color:  #aaa
  cursor: default
.button.disabled:hover ,
.button:disabled:hover
  @extend .button
  +box-shadow(inset 0px 0px 1px 1px hsl(190, 60%, 100%))
.button.disabled:active ,
.button:disabled:active
  @extend .button
  position: relative
  top:      0px
