nav.topbar
  background-color: #444
  margin:           0 auto
  margin-bottom:    3px
  max-width:        784px
  min-height:       48px
  position:         relative
  text-align:       center
nav.topbar ul
  display:        inline-block
  vertical-align: top
  position:       relative
  padding:        0px 3px
nav.topbar ul.navbar
  float: left
nav.topbar ul.right
  float: right
nav.topbar ul.statistics
  margin:  0
  padding: 0
@media only screen and (max-width: $mobile-width)
  nav.topbar ul.statistics li:nth-child(4),
  nav.topbar ul.statistics li:nth-child(5)
    display: none
nav.topbar ul .title
  color:          $title-color
nav.topbar ul li
  color:          white
  display:        inline-block
  font-family:    $content-font
  font-size:      14px
  font-weight:    200
  height:         48px
  line-height:    48px
  padding:        0 5px
  vertical-align: middle
nav.topbar ul li:first-child
  padding-left: 0
nav.topbar ul li.right
  float: right
nav.topbar ul li img.avatar
  display: block
  padding: 8px 0
  height:  32px
  width:   32px
nav.topbar ul li.statistic:first-child
  border-left:  none
nav.topbar ul li.statistic:last-child
nav.topbar ul li.statistic
  border-left:      1px solid #555
  color:            black
  height:           40px
  margin-top:       4px
  padding:          0 10px
  vertical-align:   top
nav.topbar ul li.statistic span
  display:          block
  height:           1em
  line-height:      1em
  text-align:       center
nav.topbar ul li.statistic span:first-child
  color:            #bbb
  font-size:        12px
  font-weight:      normal
  padding-top:      3px
nav.topbar ul li.statistic span.count
  color:            $nav-accent-color
  font-family:      $content-font
  font-size:        18px
  font-weight:      400
  padding-top:      3px

nav.tabbar
  background-color: $nav-color
  display:          table
  height:           36px
  width:            100%
nav.tabbar ul
  display: table-row
nav.tabbar ul li
  background-color:    #eee
  background-position: 5px 5px
  background-repeat:   no-repeat
  border-left:         1px solid #ddd
  border-top:          3px solid #ddd
  cursor:              pointer
  display:             table-cell
  height:              100%
  overflow:            hidden
  position:            relative
  width:               25%
nav.tabbar ul li:hover
  background-color: #f3f3f3
  border-top:       3px solid rgb(107, 199, 235)
nav.tabbar ul li a
  display:             inline-block
  font-family:         "Open Sans", sans-serif
  font-size:           14px
  height:              100%
  padding-top:         10px
  padding-left:        33px
  padding-right:       4px
  width:               100%
nav.tabbar ul li a:hover
  text-decoration: none
/* Currently selected tab */
nav.tabbar ul li.current-tab
  background-color: #fff
  border:           none
  border-top:       3px solid rgb(67, 159, 195)
  border-bottom:    1px solid #eee
nav.tabbar ul li.current-tab + li
  border-left: none
/* Top bar */
@media only screen and (max-width: $mobile-width)
  nav.tabbar ul li
    background-position: 50% 5px
    text-indent:         -9999px
    overflow:            hidden
  nav.tabbar ul li a
    text-indent: -9999px
    overflow:    hidden
nav.tabbar ul li#new-post
  background-image: url('/assets/images/noun-post.png')
nav.tabbar ul li#new-image
  background-image: url('/assets/images/noun-image.png')
nav.tabbar ul li#new-follow
  background-image: url('/assets/images/noun-follower.png')
nav.tabbar ul li#new-note
  background-image: url('/assets/images/noun-note.png')
/* Feed select bar*/
nav.tabbar ul li#timeline-tab
  background-image: url('/assets/images/noun-timeline.png')
nav.tabbar ul li#favorites-tab
  background-image: url('/assets/images/noun-favorites.png')
nav.tabbar ul li#mentions-tab
  background-image: url('/assets/images/noun-mentions.png')
nav.tabbar ul li#shared-tab
  background-image: url('/assets/images/noun-shared.png')
/* New Content Notification Bubbles */
nav.tabbar span.amount
  background-color: hsl(300, 50%, 80%)
  +border-radius    (5px)
  color:            white
  font-family:      $title-font
  font-size:        12px
  font-weight:      700
  right:            6px
  padding:          3px
  padding-bottom:   5px
  position:         absolute
  top:              6px
