nav.topbar
  background-color: #444
  margin:           0 auto
  margin-bottom:    3px
  max-width:        784px
  min-height:       48px
  position:         relative
nav.topbar ul
  padding: 0px 3px
nav.topbar ul.right
  position: absolute
  right:    0
  top:      0
nav.topbar ul .title
  color:          $title-color
nav.topbar ul li
  color:          white
  display:        inline-block
  font-family:    $content-font
  font-size:      14px
  font-weight:    200
  height:         48px
  line-height:    48px
  padding:        0 5px
  vertical-align: middle
nav.topbar ul li:first-child
  padding-left: 0
nav.topbar ul li.right
  float: right
nav.topbar ul li img.avatar
  display: block
  padding: 8px 0
  height:  32px
  width:   32px
nav.topbar ul li ul.statistics
  margin-left: 20px
nav.topbar ul li.statistic:first-child
  border-bottom-left-radius: 5px
  padding-left: 5px
nav.topbar ul li.statistic:last-child
  border-bottom-right-radius: 5px
nav.topbar ul li.statistic
  background-color: #fff
  border-left:      1px solid #eee
  color:            black
  height:           40px
  vertical-align:   top
nav.topbar ul li.statistic span
  display:          block
  height:           1em
  line-height:      1em
  text-align:       center
nav.topbar ul li.statistic span:first-child
  color:            #bbb
  font-size:        12px
  font-weight:      normal
  padding-top:      3px
nav.topbar ul li.statistic span.count
  color:            $accent-color
  font-family:      $content-font
  font-size:        18px
  font-weight:      400
  padding-top:      3px

nav.tabbar
  background-color: #555555
  display:          table
  height:           36px
  width:            100%
nav.tabbar ul
  display: table-row
nav.tabbar ul li
  background-color: #eee
  border-left:      1px solid #ddd
  border-top:       3px solid #ddd
  display:          table-cell
  height:           100%
  overflow:         hidden
  position:         relative
  width:            25%
nav.tabbar ul li a
  background-position: 5px 5px
  background-repeat:   no-repeat
  display:             inline-block
  font-family:         "Open Sans", sans-serif
  font-size:           14px
  height:              100%
  padding-top:         10px
  padding-left:        33px
  padding-right:       4px
  width:               100%
/* Currently selected tab */
nav.tabbar ul li.current-tab
  background-color: #fff
  border:           none
  border-top:       3px solid rgb(67, 159, 195)
  border-bottom:    1px solid #eee
nav.tabbar ul li.current-tab + li
  border-left: none
/* Top bar */
nav.tabbar ul li a#new-post
  background-image: url('/assets/images/noun-post.png')
nav.tabbar ul li a#new-image
  background-image: url('/assets/images/noun-image.png')
nav.tabbar ul li a#new-follow
  background-image: url('/assets/images/noun-post.png')
nav.tabbar ul li a#new-note
  background-image: url('/assets/images/noun-note.png')
/* Feed select bar*/
nav.tabbar ul li a#timeline-tab
  background-image: url('/assets/images/noun-timeline.png')
nav.tabbar ul li a#favorites-tab
  background-image: url('/assets/images/noun-favorites.png')
nav.tabbar ul li a#mentions-tab
  background-image: url('/assets/images/noun-mentions.png')
nav.tabbar ul li a#shared-tab
  background-image: url('/assets/images/noun-shared.png')
/* New Content Notification Bubbles */
nav.tabbar span.amount
  background-color: hsl(300, 50%, 80%)
  +border-radius    (5px)
  color:            white
  font-family:      $title-font
  font-size:        12px
  font-weight:      700
  right:            6px
  padding:          3px
  padding-bottom:   5px
  position:         absolute
  top:              6px
