@import reset
@import mixins
@import buttons
@import variables
@import navbar
@import form
@import feed
@import profile
@import activity
@import activity-input
@import activity-post-input
@import activity-image-input
@import footer

/* Main content containers */

body
  background-image: url('/assets/images/noise_black.png')
body .content
  margin: 0 auto
  max-width: 784px

/* Basic content */

em
  font-style: italic

strong
  font-weight: 600

/* Basic links */

a
  color:           $link-color
  text-decoration: none
a:hover
  text-decoration: underline

/* Basic headers */
h2
  background-color: white
  border-bottom:    1px solid #ddd
  font-family:      $content-font
  font-size:        16px
  font-weight:      200
  padding:          10px

/* Hidden */
.content .hidden
  display: none !important
