#{activity.object.html}
%a{:href => "/images/#{activity.object.id}"}
  - if defined?(full) && full
    %img.image{:src => "/images/#{activity.object.id}"}
  - else
    %img.image{:src => "/images/#{activity.object.id}?width=650&height=160"}
