%ul.activities
  %li.activity
    = partial :"activities/list", {:locals => {:activity => Nelumba::Activity.new({:interactions => {:share => {:count => 3}, :favorite => {:count => 2}}, :published => Time.now, :updated => Time.now, :verb => :post, :actor => Nelumba::Person.new(:display_name => "wilkie"), :object => Nelumba::Note.new(:html => "Hello"), :type => :note })}}
.activity
  = partial :"activities/show", {:locals => {:activity => activity}}
%ul.activities
  %li.activity
    = partial :"activities/list", {:locals => {:activity => Nelumba::Activity.new({:interactions => {:share => {:count => 3}, :favorite => {:count => 2}}, :published => Time.now, :updated => Time.now, :verb => :post, :actor => Nelumba::Person.new(:display_name => "wilkie"), :object => Nelumba::Note.new(:html => "Hello"), :type => :note })}}
