!!!
%html
  %head
    %link{:rel => 'icon',       :sizes => '16x16',   :href => '/assets/images/nelumba_logo_purple_16.png'}
    %link{:rel => 'icon',       :sizes => '32x32',   :href => '/assets/images/nelumba_logo_purple_32.png'}
    %link{:rel => 'icon',       :sizes => '48x48',   :href => '/assets/images/nelumba_logo_purple_48.png'}
    %link{:rel => 'stylesheet', :type => 'text/css',
      :href => 'http://fonts.googleapis.com/css?family=Open+Sans:400,300,600|Overlock|Cinzel+Decorative:700'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/assets/css/markitup.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/assets/css/markitup.base.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/assets/css/jquery.fileupload.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/assets/css/jquery.fileupload-noscript.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/assets/css/jquery.fileupload-ui.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/assets/css/jquery.fileupload-ui-noscript.css'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/assets/css/main.css'}
    %title
      = user_option_for :title
  %body
    %nav.topbar
      - if current_person.nil?
        %ul.navbar
          %li>
            %img.avatar{:src => "/assets/images/avatar.png"}>
          %li>
            Welcome to
            %strong.title
              Nelumba
        %ul.navbar.right
          %li>
            %a{:href => "/login"}>Login
          %li>
            %a{:href => "/authorizations/new"}>Signup
      - else
        %ul.navbar
          %li>
            - if current_person.avatar
              %img.avatar{:src => "#{current_person.avatar.url}"}>
            - else
              %img.avatar{:src => "/assets/images/avatar.png"}>
          %li>
            #{current_person.display_name}
          %li
            %ul.statistics
              %li.statistic>
                %span.collection>
                  Updates
                %span.count>
                  21.3k
              %li.statistic>
                %span.collection>
                  Following
                %span.count>
                  398
              %li.statistic>
                %span.collection>
                  Followers
                %span.count>
                  923
              %li.statistic>
                %span.collection>
                  Favorites
                %span.count>
                  4.3k
              %li.statistic>
                %span.collection>
                  Shares
                %span.count>
                  1.3k
        %ul.navbar.right
          %li>
            %a{:href => "/logout"}>Logout
    .content
      = yield
    %script{:src=>"/assets/js/jquery.js"}
    %script{:src=>"/assets/js/jquery.pjax.js"}
    %script{:src=>"/assets/js/jquery.iframe-transport.js"}
    %script{:src=>"/assets/js/jquery.ui.widget.js"}
    %script{:src=>"/assets/js/load-image.min.js"}
    %script{:src=>"/assets/js/canvas-to-blob.min.js"}
    %script{:src=>"/assets/js/jquery.filestyle.js"}
    %script{:src=>"/assets/js/jquery.markitup.js"}
    %script{:src=>"/assets/js/jquery.markitup.set.js"}
    %script{:src=>"/assets/js/jquery.fileupload.js"}
    %script{:src=>"/assets/js/jquery.fileupload-ui.js"}
    %script{:src=>"/assets/js/jquery.fileupload-process.js"}
    %script{:src=>"/assets/js/jquery.fileupload-validate.js"}
    %script{:src=>"/assets/js/jquery.fileupload-image.js"}
    %script{:src=>"/assets/js/ckeditor/ckeditor.js"}
    %script{:src=>"/assets/js/ckeditor/adapters/jquery.js"}
    %script{:src=>"/assets/js/app.js"}
