%nav.tabbar{:class => (!defined?(card) or card) ? "card" : ""}
  %ul
    - ["timeline", "mentions", "favorites", "shared"].each do |noun|
      %li{:id => "#{noun}-tab", :class => current_tab == noun ? "current-tab" : ""}>
        %a{:"data-pjax" => ajax, :href => (defined?(dead_links) and dead_links) ? "#" : "/people/#{person.id}/#{noun}"}>
          %span.noun>
            #{noun.capitalize}
