- if timeline.empty?
  %li.message
    None
- timeline.each do |activity|
  - if activity.verb == :post || activity.verb == :share
    %li.activity
      = partial :"activities/list", {:locals => {:activity => activity}}
