- if current_person
  = partial :"people/input-card"
= partial :"people/tabbar", :locals => {:current_tab => "timeline", :ajax => true}
%ul.activities
  - current_person.timeline.ordered.each do |activity|
    - next if activity.verb == :favorite
    %li.activity
      = partial :"activities/list", {:locals => {:activity => activity}}
%footer
  Next
  |
  Previous
