%p
  Use an avatar from some source:

%form{:name => 'avatar_edit', :action => "/people/#{person.id}/avatar", :method => 'post'}
  %label{:for => 'avatar_url'}
    URL for avatar:
  %input{:type => 'text', :name => 'avatar_url'}
  %input{:type => 'submit', :value => "Upload"}
