- if current_person
  = partial :"people/input-card"
= partial :"people/tabbar", :locals => {:person => person, :card => false, :current_tab => "favorites", :ajax => true}
#stream
  = partial :"people/favorites", {:locals => {:person => person,
                                              :favorites => favorites}}
%footer
  Next
  |
  Previous
