.header
  %h1
    Mentions of #{person.preferred_display_name}
%ul.activities
  = partial :"people/mentions", {:locals => {:person => person,
                                             :mentions => mentions}}
