- if current_person
  = partial :"people/input-card"
= partial :"people/tabbar", :locals => {:person => person, :card => false, :current_tab => "mentions", :ajax => true}
%ul.activities
  = partial :"people/mentions", {:locals => {:person => person,
                                             :mentions => mentions}}
%footer
  Next
  |
  Previous
