.header
  %h1
    Replies to #{person.author.short_name}
%ul.activities
  - replies.each do |activity|
    - if activity.verb == :post || activity.verb == :share
      = partial :"activities/show", {:locals => {:activity => activity}}
