- content_for :scripts do
  %script{:src => "/assets/js/settings.js"}

.card
  - if current_person
    = partial :"people/tabbar", :locals => {:person => current_person, :current_tab => nil, :ajax => false}
.banner>
  %img{:src => "/assets/images/nelumba_profile_bg.png"}>
.profile.card
  %h1
    Settings:
  %form{:name => 'author', :action => "/people/#{person.id}", :method => 'post'}
    %h2
      Profile
    .edit-profile-card
      %p
        This section provides a means of describing any personal information you would like to make public as part of your online profile. All of this information is optional. This profile may feature your name, gender, pronouns, occupation, address, etc.
      %p
        This section allows you to:
      %ul
        %li
          Change your username
        %li
          Change your display name
        %li
          Change your email address
        %li
          Add your occupation
        %li
          Add other contact information
      %a.edit-profile{:href => "/people/#{person.id}/edit"}
        Edit Profile

    %h2
      Appearance
    .edit-profile-card
      %p
        This section provides a means of changing the appearance of the application. This includes avatars, banner images, changing the color scheme, fonts, etc. Presets are included for high contrast and palettes designed for use for color-blind and hard-of-seeing.
      %p
        This section allows you to:
      %ul
        %li
          Update your avatar image
        %li
          Update your banner image
        %li
          Update your background image
        %li
          Update your color scheme
        %li
          Update your font preferences
      %a.edit-profile{:href => "/people/#{person.id}/edit_appearance"}
        Edit Appearance
