.header
  %h1
    #{person.preferred_display_name}'s Shared
%ul.activities
  = partial :"people/shared", {:locals => {:person => person,
                                           :shared => shared}}
