- if current_person
  = partial :"people/input-card"
= partial :"people/tabbar", :locals => {:current_tab => "shared", :ajax => true}
%ul.activities
  = partial :"people/shared", {:locals => {:person => person,
                                           :shared => shared}}
%footer
  Next
  |
  Previous
