.header
  %h1
    #{person.preferred_display_name}'s Timeline
%ul.activities
  %li.activity
    = partial :"people/timeline", {:locals => {:person   => person,
                                               :timeline => timeline}}
