- if current_person
  = partial :"people/input-card"
= partial :"people/tabbar", :locals => {:person => person, :card => false, :current_tab => "timeline", :ajax => true}
%ul.activities
  = partial :"people/timeline", {:locals => {:person   => person,
                                             :timeline => timeline}}
= partial :"people/footer"
