%h2
  Recent Activity
%ul.activities
  - Nelumba::Activity.order(:published => :desc).limit(20).each do |activity|
    - next if activity.verb == :favorite
    %li.activity
      = partial :"activities/list", {:locals => {:activity => activity}}
