/*
 * Conventions:
 *
 * All classes, ids are hyphenated, lowercase.
 * All properties are ordered alphabetically.
 * All definitions are grouped together as they appear together.
 *
 * No !important is allowed.
 */

/*
 * Base definitions
 */

body {
  background-image: url('/assets/images/noise_black.png');
  background-attachment: fixed;
}

em {
  font-style:italic;
}

strong {
  font-weight:600;
}

a {
  color: rgb(67, 159, 195);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/*
 * Top Bar
 */

nav.top-bar {
  background-color: #383838;
  background-image: url('/assets/images/avatar.png');
  background-repeat: no-repeat;
  background-position: 7px 0;
  font-family: 'Open Sans', sans-serif;
  height: 48px;
  margin: 0px auto;
  max-width: 780px;
  position: relative;
  text-align: right;
}

nav.top-bar img.avatar {
  padding-right: 7px;
  vertical-align: middle;
  width: 22px;
}

nav.top-bar a {
  text-decoration: none;
}

nav.top-bar ul {
  bottom: 0;
  margin-bottom: 14px;
  margin-right: 8px;
  height: 22px;
  position: absolute;
  width: 100%;
  right: 0;
}

nav.top-bar ul li#title {
  font-weight: 700;
  left: 70px;
  padding-top:2px;
  position: absolute;
}

nav.top-bar li {
  color: #888;
  display: inline;
}

/*
 * Modal Bar
 */

.modal-bar {
  background-color: rgba(96,96,96,1.0);
  min-height: 100px;
  margin: 0px auto;
  max-width: 780px;
  position: relative;
}

.modal-bar img#banner {
  display: block;
  width: 100%;
}

.modal-bar ul#statistics {
  display: inline-block;
  padding-top: 16px;
  padding-left: 18px;
  padding-right: 22px;

  position: relative;

  vertical-align: top;
  z-index: 1;
}

.modal-bar ul#statistics li           ,
.modal-bar ul#personal   li#updates   ,
.modal-bar ul#personal   li#following ,
.modal-bar ul#personal   li#followers {
  margin-bottom: 10px;
  padding-left: 30px;
}

.modal-bar ul#statistics li a ,
.modal-bar ul#personal   li a {
  color: #f3f3f3;
  font-family: 'Open Sans', sans-serif;
}

.modal-bar ul#statistics li.updates ,
.modal-bar ul#personal   li#updates {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: transparent;
  background-image: url('/assets/images/icons_sprite.png');
  background-origin: padding-box;
  background-repeat: no-repeat;
  background-position: -24px 2px;
}

.modal-bar ul#statistics li.followers ,
.modal-bar ul#personal   li#followers {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: transparent;
  background-image: url('/assets/images/icons_sprite.png');
  background-origin: padding-box;
  background-repeat: no-repeat;
  background-position: -24px -32px;
}

.modal-bar ul#statistics li.following ,
.modal-bar ul#personal   li#following {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: transparent;
  background-image: url('/assets/images/icons_sprite.png');
  background-origin: padding-box;
  background-repeat: no-repeat;
  background-position: -24px -16px;
}

.modal-bar ul#personal {
  display: block;
  min-height: 100px;
  position: absolute;
  bottom: 0px;
}

.modal-bar img#banner ~ ul#personal {
  background-color: rgba(96,96,96,0.5);
}

.modal-bar ul#personal img#avatar {
  display: inline-block;
  height: 100px;
  width: 100px;
  float: left;
  vertical-align: top;
}

.modal-bar ul#personal li#statistics {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  padding-top:  13px;
}

.modal-bar ul#personal li#name {
  color: #fff;
  display: inline-block;
  padding-top: 12px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.modal-bar ul#personal li#username {
  color: #d8d8d8;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.modal-bar ul#personal li#username:before {
  content: '@'
}

.modal-bar ul#personal li#username:after {
  content: ' \2014'
}

.modal-bar ul#personal li#bio {
  color: #bbb;
  display: inline;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.4em;
  padding-top: 12px;
  padding-right: 12px;
  text-align: justify;
}

.modal-bar ul#new-activity-list {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: transparent;
  background-image: url('/assets/images/plus.png');
  background-origin: padding-box;
  background-repeat: no-repeat;
  background-position: 0px 16px;

  right: 0;
  padding-left: 70px;
  padding-right: 10px;
  padding-top: 16px;
  position: absolute;
  top: 12px;
}

.modal-bar ul#new-activity-list li a {
  display: block;
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 2;
}

.modal-bar ul#new-activity-list li.note {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: transparent;
  background-image: url('/assets/images/note.png');
  background-origin: padding-box;
  background-repeat: no-repeat;
  background-position: 0px 0px;

  display: inline-block;

  height: 48px;
  width: 73px;
}

.modal-bar ul#new-activity-list li.note:hover {
  background-image: url('/assets/images/note_hover.png');
}

.modal-bar ul#new-activity-list li.image {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: transparent;
  background-image: url('/assets/images/image.png');
  background-origin: padding-box;
  background-repeat: no-repeat;
  background-position: 0px 0px;

  display: inline-block;

  height: 48px;
  width: 73px;
}

.modal-bar ul#new-activity-list li.image:hover {
  background-image: url('/assets/images/image_hover.png');
}

.modal-bar ul#new-activity-list li.post {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: transparent;
  background-image: url('/assets/images/post.png');
  background-origin: padding-box;
  background-repeat: no-repeat;
  background-position: 0px 0px;

  display: inline-block;

  height: 48px;
  width: 73px;
}

.modal-bar ul#new-activity-list li.post:hover {
  background-image: url('/assets/images/post_hover.png');
}

/*
 * Navigation Bar
 */

nav.navigation-bar {
  background-color: transparent;
  height: 100%;
  left: 50%;
  margin: 0px auto;
  margin-left: -390px;
  max-height: 100%;
  max-width: 780px;
  min-height: 100%;
  min-width: 780px;
  overflow: visible;
  position: fixed;
  top: 0px;
  width: 780px;
}

nav.navigation-bar ul {
  background-color: #383838;
  color: rgb(80, 80, 80);
  height: 100%;
  left: -51px;
  max-height: 100%;
  min-height: 100%;
  min-width: 40px;
  position: absolute;
  padding-left: 10px;
  padding-top: 7px;
  padding-bottom: 7px;
  top: 0px;
}

nav.navigation-bar ul li {
  padding-bottom: 5px;
}

nav.navigation-bar ul li:last-child {
  padding-bottom: 0;
}

nav.navigation-bar ul li a {
  display: block;

  height: 100%;
  width: 100%;
}

nav.navigation-bar ul li#timeline-link {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: transparent;
  background-image: url('/assets/images/timeline.png');
  background-origin: padding-box;
  background-repeat: no-repeat;
  background-position: 0px 0px;

  height: 32px;

  padding-bottom: 0px;

  width: 32px;
}

nav.navigation-bar ul li#timeline-link:hover {
  background-image: url('/assets/images/timeline_hover.png');
}

nav.navigation-bar ul li#mentions-link {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: transparent;
  background-image: url('/assets/images/mentions.png');
  background-origin: padding-box;
  background-repeat: no-repeat;
  background-position: 0px 0px;

  height: 32px;
  width: 32px;
}

nav.navigation-bar ul li#mentions-link:hover {
  background-image: url('/assets/images/mentions_hover.png');
}

nav.navigation-bar ul li#favorites-link {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: transparent;
  background-image: url('/assets/images/favorites.png');
  background-origin: padding-box;
  background-repeat: no-repeat;
  background-position: 0px 0px;

  height: 32px;
  width: 32px;
}

nav.navigation-bar ul li#favorites-link:hover {
  background-image: url('/assets/images/favorites_hover.png');
}

nav.navigation-bar ul li#shared-link {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: transparent;
  background-image: url('/assets/images/shared.png');
  background-origin: padding-box;
  background-repeat: no-repeat;
  background-position: 0px 0px;

  height: 32px;
  width: 32px;
}

nav.navigation-bar ul li#shared-link:hover {
  background-image: url('/assets/images/shared_hover.png');
}

@media only screen and (max-width: 860px) {
  nav.navigation-bar {
    height: 44px;
    margin: 0px auto;
    max-height: 44px;
    max-width: 780px;
    min-height: 44px;
    min-width: 780px;
    padding: 0;
    position: static;
    width: 780px;
  }

  nav.navigation-bar ul {
    border-right: none;
    height: 44px;
    margin: 0;
    max-width: 100%;
    min-width: 100%;
    padding: 0;
    position: static;
    width: 100%;
  }

  nav.navigation-bar ul li {
    display: inline-block;
    padding: 0;
    margin-left: 11px;
    margin-top: 6px;
  }

  nav.navigation-bar ul li#timeline-link {
    margin-left: 13px;
  }

  nav.navigation-bar ul li#mentions-link {
    margin-left: 9px;
  }
}

nav.navigation-bar.force-inline {
  height: 44px;
  margin: 0px auto;
  max-height: 44px;
  max-width: 780px;
  min-height: 44px;
  min-width: 780px;
  padding: 0;
  position: static;
  width: 780px;
}

nav.navigation-bar.force-inline ul {
  border-right: none;
  height: 44px;
  margin: 0;
  max-width: 100%;
  min-width: 100%;
  padding: 0;
  position: static;
  width: 100%;
}

nav.navigation-bar.force-inline ul li {
  display: inline-block;
  padding: 0;
  margin-left: 11px;
  margin-top: 6px;
}

nav.navigation-bar.force-inline ul li#timeline-link {
  margin-left: 13px;
}

nav.navigation-bar.force-inline ul li#mentions-link {
  margin-left: 9px;
}

/*
 * Activity Stream
 */

.activity-stream {
  background-color: white;
  color: rgb(80, 80, 80);
  min-height: 100px;
  margin: 0px auto;
  max-width: 780px;
}

.activity-stream ul#activities > li.activity {
  border-bottom: 1px solid #eee;
}

.activity-stream ul#activities li.activity {
  margin-left: 8px;
  margin-right: 8px;
  min-height: 96px;
  position: relative;
}

.activity-stream ul#activities li.activity:last-child {
  border-bottom: none;
}

.activity-stream ul#activities li.activity ul li.avatar {
  position: absolute;
  left: 8px;
  top: 16px;
}

.activity-stream ul#activities li.activity ul li.actor-display {
  color: #888;
  display: inline-block;
  font-family: Arial, sans-serif;
  font-size: 12px;
  margin-bottom: 8px;
  margin-top: 17px;
}

.activity-stream ul#activities li.activity ul li.actor-display:before {
  content: '@';
}

.activity-stream ul#activities li.activity ul li.actor {
  display: inline-block;
  color: #333;
  float: left;
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 8px;
  margin-top: 17px;
  padding-left: 72px;
  padding-right: 5px;
}

.activity-stream ul#activities li.activity ul li.content {
  display: block;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  min-height: 45px;
  padding-left: 72px;
  padding-right: 10px;
  padding-bottom: 7px;
}

.activity-stream ul#activities li.activity ul li.share {
  background-image: url('/assets/images/shared_small.png');
  background-origin: padding-box;
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  left: 38px;
  opacity: 0.5;
  position: absolute;
  top: 72px;
  width: 16px;
}

.activity-stream ul#activities li.activity ul li.share:hover {
  background-image: url('/assets/images/shared_small_hover.png');
}

.activity-stream ul#activities li.activity ul li.share a {
  display: block;
  height: 100%;
  width: 100%;
}

.activity-stream ul#activities li.activity ul li.favorite {
  background-image: url('/assets/images/favorites_small.png');
  background-origin: padding-box;
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  left: 12px;
  opacity: 0.5;
  position: absolute;
  top: 72px;
  width: 16px;
}

.activity-stream ul#activities li.activity ul li.favorite:hover {
  background-image: url('/assets/images/favorites_small_hover.png');
}

.activity-stream ul#activities li.activity ul li.favorite a {
  display: block;
  height: 100%;
  width: 100%;
}

.activity-stream ul#activities li.activity ul li.replies {
  padding-left: 18px;
}

.activity-stream ul#activities li.activity ul li.replies ul {
}

/*
 * Footer Bar
 */

.footer-bar {
  background-color: #666;
  color: #888;
  font-family: 'Open Sans', sans-serif;
  margin: 0px auto;
  max-width: 770px;
  padding: 10px 5px;
  padding-top: 7px;
  text-align: center;
}

/*
 * Modals
 */

.modal {
  background-color: #383838;
  border: 1px solid black;
  max-height: 100%;
  max-width: 100%;
}

.modal .modal-header {
  background-color: #439fc3;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  padding: 10px;
  text-align: center;
}

.modal .modal-content {
  padding: 10px;
  padding-bottom: 8px;
}

#note-modal .modal-content {
  text-align: right;
}

#note-modal .modal-content textarea {
  display: block;
  border: 1px solid black;
  height: 120px;
  padding: 10px;
  margin-bottom: 10px;
  width: 450px;
}

#note-modal .modal-content textarea:focus {
  border: 1px solid #439fc3;
}

#note-modal .modal-content .share {
  background-image: url('/assets/images/new_note_button.png');
  display: inline-block;
  height: 28px;
  cursor: pointer;
  width: 58px;
}

#note-modal .modal-content .share:hover {
  background-image: url('/assets/images/new_note_button_hover.png');
}
