.card
  %h2
    Login

  %form{:name => 'authorization', :action => '/login', :method => 'post'}
    %ul
      %li
        %label{:for => 'username'}
          Username
        %div
          %input.short{:type => 'text', :name => 'username'}
      %li
        %label{:for => 'password'}
          Password
        %div
          %input.short{:type => 'password', :name => 'password'}
    %input.button{:type => 'submit'}
