.card
  %h2
    Create a new account

  %form{:name => 'authorization', :action => '/authorizations', :method => 'post'}
    %ul
      %li
        %label{:for => 'username'}
          Username
        %div
          %input.short{:type => 'text', :name => 'username'}
      %li
        %label{:for => 'password'}
          Password
        %div
          %input.short{:type => 'password', :name => 'password'}
    %input.button{:type => 'submit'}
